.blog {
  color: #25262b;
  margin-bottom: 40px;
}
.blog_h2 {
  font-size: 2.6rem;
  font-weight: 700;
  font-family: 'Avenir Next';
  padding-bottom: 20px;
  border-bottom: 1px solid #E9ECEF;
}
.blog_title {
  font-size: 2.2rem;
  font-weight: 700;
  font-family: 'YuGothic';
  margin-bottom: 8px;
}
.blog_description {
  font-family: 'YuGothic';
  font-weight: 500;
  margin-bottom: 8px;
}
.blog_date {
  font-size: 1.2rem;
  font-family: 'Avenir Next';
  font-weight: 700;
  color: #909296;
  margin-bottom: 8px;
}
.blog_button{
  margin: 24px auto;
  display: flex;
  pointer-events: none;
}