.footer {
  color: #868E96;
  font-family: 'YuGothic';
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.footer p {
  border-top: 1px solid #E9ECEF;
  font-size: 1.0rem;
  padding: 25px 106px;
  margin: 40px 0 34px 0;
}