/* .container {
  width: 96%;
  margin: 0 auto;
} */
.mainVisual_box {
  width: 100%;
  height: 248px;
  background: #e64980;
  color: white;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.mainVisual_contents {
  padding: 0 1rem;
  display: flex;
  align-items: flex-start;
  text-align: left;
  flex-flow: column;
}
.mainVisual_content {
  margin-bottom: 30px;
}
.mainVisual_content h2 {
  margin-bottom: 4px;
}
.mainVisual_contents ul {
  list-style: none;
  display: flex;
  padding: 0;
}
.mainVisual_contents li svg {
  width: 25px;
  height: 25px;
  margin-right: 8px;
}

.mainVisual_contents h2 {
  font-size: 2.8rem;
}
.blog {
  color: #25262b;
  position: relative;
}
.blog::before {
  position: absolute;
  top: 20px;
  border-bottom: 2px solid #e9ecef;
}
.blog_h2 {
  font-size: 2.6rem;
  font-weight: 700;
  font-family: 'Avenir Next';
}
.blog_title {
  font-size: 2.2rem;
  font-weight: 700;
  font-family: 'YuGothic';
  margin-bottom: 8px;
}
.blog_description {
  font-family: 'YuGothic';
  font-weight: 500;
  margin-bottom: 8px;
}
.blog_date {
  font-size: 1.2rem;
  font-family: 'Avenir Next';
  font-weight: 700;
  color: #909296;
  margin-bottom: 8px;
}
@media (min-width: 601px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
