.portfolio {
  color: #25262b;
  margin-bottom: 40px;
}
.portfolio_date {
  font-size: 1.2rem;
  font-family: 'Avenir Next';
  font-weight: 700;
  color: #909296;
  margin-bottom: 8px;
}
.portfolio_button{
  margin: 24px auto;
  display: flex;
  pointer-events: none;
}
.portfolio_button {
  margin: 24px auto;
  display: flex;
  pointer-events: none;
}